@use 'sass:map';

@use '../abstracts/index' as my;
@use 'abstracts/functions' as f;

.author-list {
  display: grid;

  row-gap: 10px;

  font-weight: bold;

  a {
    text-decoration: none;
  }
}

.author {
  display: grid;

  grid-template-columns: auto 1fr;

  column-gap: f.to-rem(12px);

  align-items: center;

  padding: 0;

  border: unset;

}

.author--center {
  align-items: center;
}


.avatar {
  width: f.to-rem(38px);
  height: f.to-rem(38px);
}

.avatar--big {
  width: f.to-rem(90px);
  height: f.to-rem(90px);
}

.avatar--medium {
  width: f.to-rem(48px);
  height: f.to-rem(48px);
}

.author a {
  display: flex;

  text-decoration: unset;

  border-radius: 50%;
}

.author img {
  width: 100%;
  height: auto;

  border-radius: 50%;
  object-fit: contain;
}

.author__about h2 {
  margin-bottom: f.to-rem(16px);

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__landscape')}) {
    margin-bottom: f.to-rem(18px);
  }
}

.author__about p {
  color: my.palette('gray', '80%');
}
