@use 'sass:map';

@use '../abstracts/index' as my;
@use 'abstracts/functions' as f;

.breadcrumbs {
  display: flex;

  flex: 1;
  flex-wrap: wrap;

  align-items: center;

  padding: f.to-rem(4px) 0;

  font-size: f.to-rem(11px);
  line-height: f.to-rem(20px);
  word-wrap: break-word;
  overflow-wrap: break-word;
  list-style: none;

  border-bottom: 1px solid my.palette('gray', '10%');

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__landscape')}) {
    padding: f.to-rem(12px) 0;

    font-size: f.to-rem(12px);
  }

  a {
    @include my.truncate;

    max-width: 100%;
    margin-right: f.to-rem(4px);

    color: my.palette('gray');
    text-decoration: unset;
    word-wrap: break-word;
    overflow-wrap: break-word;

    &:hover {
      color: my.palette('orange', '110%');
      text-decoration: unset;
    }

    &:last-of-type {
      margin-right: 0;

      &::after {
        content: none;
      }
    }

    @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__landscape')}) {
      margin-right: f.to-rem(12px);
    }

    &::after {
      display: inline-block;

      width: 5px;
      height: 5px;
      margin-left: f.to-rem(4px);

      line-height: f.to-rem(20px);

      content: '';

      background: my.palette('gray', '30%');
      border-radius: 50%;

      @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__landscape')}) {
        margin-left: f.to-rem(12px);
      }
    }

  }

  .active {
    font-weight: 500;
  }
}
