.breadcrumbs {
  display: flex;

  align-items: center;
  flex: 1;
  flex-wrap: wrap;

  padding: to-rem(4px) 0;

  font-size: to-rem(11px);
  line-height: to-rem(20px);

  word-wrap: break-word;
  overflow-wrap: break-word;

  list-style: none;

  border-bottom: 1px solid palette('gray', '10%');

  @media screen and (min-width: breakpoint('laptop')) {
    padding: to-rem(12px) 0;

    font-size: to-rem(12px);
  }

  a {
    @include truncate;

    max-width: 100%;

    margin-right: to-rem(4px);

    text-decoration: unset;
    word-wrap: break-word;
    overflow-wrap: break-word;

    color: palette('gray');

    &.focus,
    &:hover {
      text-decoration: unset;

      color: palette('orange', '110%');
    }

    &:last-of-type {
      margin-right: 0;

      &::after {
        content: none;
      }
    }

    @media screen and (min-width: breakpoint('laptop')) {
      margin-right: to-rem(12px);
    }

    &::after {
      display: inline-block;

      width: 5px;
      height: 5px;

      margin-left: to-rem(4px);

      line-height: to-rem(20px);

      background: palette('gray', '30%');

      border-radius: 50%;

      content: '';

      @media screen and (min-width: breakpoint('laptop')) {
        margin-left: to-rem(12px);
      }
    }

  }

  a.active {
    font-weight: 500;
  }
}
