@use '../layout/form';
@use '../abstracts/index' as my;
@use 'abstracts/functions' as f;

/* buttons
---------------------------------------------------------------------------- */

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Improve usability and consistency of cursor style between image-type `input` and others.
 * 3. Address `overflow` set to `hidden` in IE 8/9/10. Corrects inner spacing displayed oddly in IE6/7
 * 4. Remove inner padding and border in Firefox 4+.
 * 5. Consistent buttons background color for all browsers (opinionated).
 * 6. Consistent paddings.
 * @see  http://archivist.incutio.com/viewlist/css-discuss/98999
 * @see  http://www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 * @see  http://christophzillgens.com/en/articles/equal-height-input-and-button-elements-in-firefox-and-safari
 * @see  http://www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
 */

$colors: 'button', 'button-secondary', 'button-neutral';

$colors: 'button', 'button-secondary', 'button-neutral';

%button-reset {
  @extend %os-element-reset;

  box-sizing: inherit;
  display: inline-block;

  align-items: center;

  width: auto; /* 3 */
  min-width: 88px;
  height: f.to-rem(40px);
  padding: 0 f.to-rem(16px);
  overflow: visible; /* 3 */

  font-family: Asap, sans-serif;
  font-size: f.to-rem(12px);
  font-weight: bold;
  line-height: f.to-rem(40px);
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  white-space: inherit;

  cursor: pointer; /* 2 */

  background: unset;
  border: unset;

  appearance: button; /* 1 */

  &::-moz-focus-inner {
    padding: 0; /* 4 */

    border: 0;
  }

  @media screen and (min-width: breakpoint('tablet__portrait')) {
    height: f.to-rem(48px);
    padding: 0 f.to-rem(16px);

    font-size: f.to-rem(14px);
    line-height: f.to-rem(48px);
  }

  @media screen and (min-width: breakpoint('laptop')) {
    padding: 0 f.to-rem(32px);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.button-wrap--center {
  display: flex;

  justify-content: center;
}

button,
[role='button'],
[type='button'] {
  @extend %button-reset;
}

.dark {
  padding: 10px;

  background: #383838;
}

@mixin button($color) {
  .#{$color} {
    @extend %button-reset;
  }

  // $styles: 'solid', 'solid-inverted', 'inverted', 'ghost', 'ghost-inverted', 'bordeless', 'bordeless-inverted';

  .#{$color}[class*='solid'] {
    color: my.palette('white');

    background: my.palette(#{$color}); /* 5 */
    border: 2px solid my.palette(#{$color});

    &:hover,
    &:focus {
      &:not([type='reset']) {
        color: my.palette('white');

        background-color: my.palette(#{$color}, 'dark');
        border: 2px solid my.palette(#{$color}, 'dark');
      }
    }

    &:disabled {
      color: my.palette('white');

      background-color: my.palette(#{$color}, 'light');
      border: 2px solid my.palette(#{$color}, 'light');
    }
  }

  .#{$color}[class*='inverted'],
  .#{$color}[class*='solid-inverted'] {
    color: my.palette(#{$color}); /* 5 */

    background: my.palette('white');
    border: 2px solid my.palette('white');

    &:hover,
    &:focus {
      &:not([type='reset']) {
        color: my.palette(#{$color}, 'dark');

        background: my.palette('white');
        border: 2px solid my.palette('white');
      }
    }

    &:disabled {
      color: my.palette(#{$color}, 'light');

      background: my.palette('white');
      border: 2px solid my.palette('white');
    }
  }

  .#{$color}[class*='ghost'] {
    color: my.palette(#{$color}); /* 5 */

    background: my.palette('button', 'reset');
    border: 2px solid my.palette(#{$color});

    &:hover,
    &:focus {
      &:not([type='reset']) {
        color: my.palette(#{$color}, 'dark');

        background: my.palette('button', 'reset');
        border: 2px solid my.palette(#{$color}, 'dark');
      }
    }

    &:disabled {
      color: my.palette(#{$color}, 'light');

      background: my.palette('button', 'reset');
      border: 2px solid my.palette(#{$color}, 'light');
    }
  }

  .#{$color}[class*='ghost-inverted'] {
    color: my.palette(#{$color}, 'light'); /* 5 */

    border: 2px solid my.palette(#{$color}, 'light');

    &:hover,
    &:focus {
      &:not([type='reset']) {
        color: my.palette(#{$color}, 'light');

        background: my.palette('button', 'reset');
        border: 2px solid my.palette(#{$color}, 'light');
      }
    }

    &:disabled {
      color: my.palette(#{$color}, 'light');

      border: 2px solid my.palette(#{$color}, 'light');
    }
  }

  .#{$color}[class*='bordeless'] {
    color: my.palette(#{$color}); /* 5 */

    background: my.palette('button', 'reset');
    border: unset;

    &:hover,
    &:focus {
      &:not([type='reset']) {
        color: my.palette(#{$color}, 'dark');

        background: my.palette('button', 'reset');
        border: unset;
      }
    }

    &:disabled {
      color: my.palette(#{$color}, 'light');

      background: my.palette('button', 'reset');
      border: unset;
    }
  }
  .#{$color}[class*='bordeless-inverted'] {
    color: my.palette(#{$color}, 'light');

    &:hover,
    &:focus {
      &:not([type='reset']) {
        color: my.palette(#{$color}, 'light');
      }
    }

    &:disabled {
      color: my.palette(#{$color}, 'disabled');
    }
  }
}

@each $color in $colors {
  @include button(#{$color});
}

/**
 * Avoid the WebKit bug in Android 4.0.* where (1) destroys native `audio`
 * and `video` controls.
 * Please note that this fix DOES NOT work for buttons contained inside table elements.
 * @see https://github.com/necolas/normalize.css/commit/79b3d21b697e94675d748cd9d42409b83318d2b5
 * @see https://github.com/necolas/normalize.css/issues/20
 */

html [type='button'] {
  appearance: button;
}

.button--full {
  width: 100%;
}

.button--full-mobile {
  @media screen and (max-width: breakpoint('tablet__portrait')) {
    width: 100%;
  }
}

// .button--disabled {
//   cursor: not-allowed;

//   background-color: my.palette('button', 'disabled');

//   border: 2px solid my.palette('button', 'disabled');

//   &:hover,
//   &:focus {
//     &:not([type='reset']) {
//       background-color: my.palette('button', 'disabled');

//       border: 2px solid my.palette('button', 'disabled');

//       outline: none;
//     }
//   }
// }

/**
* Replace focus style removed in the border reset above
*/
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.button--reset {
  width: unset;
  min-width: unset;
  height: unset;
  padding: unset;

  font-family: my.$text-font-stack;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  color: unset;
  text-transform: unset;
  letter-spacing: unset;

  background-color: unset;
  border-radius: unset;
}
