@use 'sass:map';

@use '../abstracts/index' as my;
@use 'abstracts/functions' as f;

.card {
  width: 100%;

  border: 1px solid my.palette('gray', '60%');
  border-radius: 8px;
}

.card__image {
  position: relative;

  display: block;

  img {
    width: 100%;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.card__header {
  border-bottom: 1px solid my.palette('gray', '60%');
  border-top-left-radius: my.$rounded-corner;
  border-top-right-radius: my.$rounded-corner;
}

.card__header,
.card__body,
.card__footer {
  display: grid;

  grid-template-rows: auto;

  row-gap: f.to-rem(16px);

  width: 100%;
  padding: f.to-rem(16px);
}

.card__body--fixed {
  align-content: space-between;

  height: 180px;
}

.img-description {
  position: relative;

  display: block;

  margin: 0;

  a {
    display: block;

    text-decoration: none !important;   /* stylelint-disable-line */
  }

  .category-title {
    color: my.palette('orange');
  }

  img {
    width: 100%;
  }

  .img-description__img {
    position: relative;

    display: flex;
  }
}

.img-hover-border > div {
  position: relative;

  border: unset;
}

.img-hover-border:focus > div::before,
.img-hover-border:hover > div::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 92%;
  height: 90%;

  content: '';

  border: 3px solid my.palette('white');

  transform: translate(-50%, -50%);
}
