@use '../abstracts/index' as my;
@use 'abstracts/functions' as f;

.faq {
  .questions {
    display: grid;

    grid-template-rows: auto;

    row-gap: f.to-rem(24px);

    width: 100%;
  }

  summary {
    color: my.palette('gray');

    &::before {
      color: my.palette('orange');
    }
  }

  details {
    padding: f.to-rem(16px);

    border: 1px solid my.palette('gray');
  }

  p {
    margin-top: f.to-rem(16px);
  }
}
