@use '../abstracts/index' as my;
@use 'abstracts/functions' as f;

.tags h2 {
  margin-bottom: f.to-rem(8px);
}

.tag {
  display: block;

  padding: 0;
  margin: 0;
  overflow: hidden;

  list-style: none;
}

.tag a {
  display: inline-block;

  width: auto;
  padding: f.to-rem(4px) f.to-rem(10px);
  margin: 2px;

  font-size: f.to-rem(12px);
  color: my.palette('gray');
  text-decoration: none;
  text-transform: capitalize;

  background: my.palette('gray', '10%');
  border-radius: 100px;

  &:hover {
    background: my.palette('gray', '30%');
  }
}
