@use '../abstracts/index' as my;
@use 'abstracts/functions' as f;

.whatsapp {
  position: fixed;
  right: f.to-em(8px);
  bottom: f.to-em(64px);
  z-index: 2;

  display: flex;

  align-items: center;

  width: f.to-em(72px);

  img {
    width: 100%;
  }
}
