@use 'sass:map';
@use 'sass:color';

////
/// This file contains all application-wide Sass color palettes
///
/// @group config-palettes
/// @prop {map} color - Map of colors
/// @todo Customize to match the needs of your design.
////

/// Store all available colors and tones.
///
/// @access private
///
/// @prop {color | map} color.tone - Pure colors or returned color value of functions
///
$palette: () !default;

$accent-color: hsl(330, 72%, 42%) !default;

///
/// @colors base
///
$base: (
  'accent': $accent-color,
);


///
/// @colors neutral
///
$neutral: (
  'white': hsl(240, 2%, 91%),
  'x-light': color.scale(hsl(216, 11%, 91%), $whiteness: 10%),
  'light': hsl(216, 11%, 91%),
  'base': hsl(216, 2%, 60%),
  'dark': hsl(206, 5%, 26%),
  'x-dark': color.scale(hsl(206, 5%, 26%), $blackness: 10%),
  'black': hsl(200, 20%, 9%)
);
$palette: map.set($palette, 'neutral', $neutral);


///
/// @colors orange
///
$orange: (
  '110%': rgb(222, 151, 0),
  'base': rgb(247, 168, 0),
  '80%': rgb(249, 185, 51),
  '60%': rgb(250, 203, 102),
  '30%': rgb(253, 229, 178),
  '10%': rgb(254, 246, 229),
  '5%': rgb(255, 251, 242),
);
$palette: map.set($palette, 'orange', $orange);

///
/// @colors blue
///
$blue: (
  '110': rgb(0, 71, 222),
  'base': rgb(0, 79, 247),
  '80%': rgb(51, 114, 249),
  '60%': rgb(102, 149, 250),
  '30%': rgb(178, 202, 253),
  '10%': rgb(229, 237, 254),
  '5%': rgb(242, 246, 255),
);
$palette: map.set($palette, 'blue', $blue);

///
/// @colors gray
///
$gray: (
  '110%': rgb(46, 46, 46),
  'base': rgb(51, 51, 51),
  '80%': rgb(92, 92, 92),
  '60%': rgb(133, 133, 133),
  '30%': rgb(194, 194, 194),
  '10%': rgb(235, 235, 235),
  '5%': rgb(245, 245, 245),
);
$palette: map.set($palette, 'gray', $gray);

///
/// @colors text
///
$text: (
  'dark': hsl(0, 0%, 13%),
  'title': $accent-color,
  'faded': hsl(216, 11%, 32.5%),
  'light': hsl(216, 11%, 91%),
  'quotes': hsl(0, 0%, 34%),
);
$palette: map.set($palette, 'text', $text);

///
/// @colors anchor
///
$anchor: (
  'base': rgb(51, 51, 51),
  'link': rgb(51, 51, 51),
  'visited': rgb(51, 51, 51),
  'hover': rgb(222, 151, 0),
  'focus': rgb(249, 185, 51),
  'active': rgb(222, 151, 0),
);
$palette: map.set($palette, 'anchor', $anchor);

///
/// @colors anchor-dark
///
$anchor-dark: (
  'base': rgb(253, 229, 178),
  'link': rgb(253, 229, 178),
  'visited': rgb(253, 229, 178),
  'hover': rgb(253, 229, 178),
  'focus': rgb(253, 229, 178),
  'active': rgb(253, 229, 178),
);
$palette: map.set($palette, 'anchor-dark', $anchor-dark);

///
/// @colors menu
///
$menu: (
  'base': rgb(255, 255, 255),
  'background': rgb(230, 230, 230),
  'text': rgb(20, 20, 20),
  'border': rgb(230, 230, 230),
  'sub-menu': rgb(250, 249, 249),
  'sub-menu-text': rgb(45, 45, 45),
  'sub-menu-hover': rgb(51, 51, 51),
  'anchor': rgb(247, 168, 0),
  'shadow': rgba(0, 0, 0, 0.74),
);
$palette: map.set($palette, 'menu', $menu);

///
/// @colors menu-dark
///
$menu-dark: (
  'base': rgb(20, 20, 20),
  'background': rgb(20, 20, 20),
  'text': rgb(202, 202, 202),
  'border': rgb(51, 51, 51),
  'sub-menu': rgb(29, 29, 29),
  'sub-menu-text': rgb(202, 202, 202),
  'sub-menu-hover': rgb(51, 51, 51),
  'anchor': rgb(247, 168, 0),
);
$palette: map.set($palette, 'menu-dark', $menu-dark);

///
/// @colors footer
///
$footer: (
  'base': rgb(255, 255, 255),
  'text': rgb(20, 20, 20),
  'border': rgb(230, 230, 230),
  'anchor': rgb(247, 168, 0),
);
$palette: map.set($palette, 'footer', $footer);

///
/// @colors footer-dark
///
$footer: (
  'base': rgb(20, 20, 20),
  'text': rgb(202, 202, 202),
  'border': rgb(51, 51, 51),
  'anchor': rgb(247, 168, 0),
);
$palette: map.set($palette, 'footer', $footer);


///
/// @colors button
///
$button: (
  'base': rgba(247, 168, 0, 1),
  'dark': rgba(222, 151, 0, 1),
  'light': rgba(250, 203, 102, 1),
  'disabled': rgb(254, 246, 229),
  'focus': rgb(229, 241, 251),
  'slider': hsl(0, 0%, 40%),
  'submit': rgb(217, 83, 79),
  'reset': transparent,
);
$palette: map.set($palette, 'button', $button);

///
/// @colors button-secondary
///
$button-secondary: (
  'base': rgba(0, 79, 247, 1),
  'dark': rgba(0, 71, 222, 1),
  'light': rgba(102, 149, 250, 1),
  'disabled': rgba(229, 237, 254, 1),
  'focus': rgb(229, 241, 251),
  'slider': hsl(0, 0%, 40%),
  'submit': rgb(217, 83, 79),
  'reset': transparent,
);
$palette: map.set($palette, 'button-secondary', $button-secondary);

///
/// @colors button-neutral
///
$button-neutral: (
  'base': rgba(51, 51, 51, 1),
  'dark': rgba(46, 46, 46, 1),
  'light': rgba(255, 254, 252, 1),
  'disabled': rgba(133, 133, 133, 1),
  'focus': rgb(229, 241, 251),
  'slider': hsl(0, 0%, 40%),
  'submit': rgb(217, 83, 79),
  'reset': transparent,
);
$palette: map.set($palette, 'button-neutral', $button-neutral);

///
/// @colors form
///
$form: (
  'background': rgb(255, 255, 255),
  'border': rgb(215, 216, 217),
  'disabled': rgb(235, 235, 236),
  'text': rgb(57, 59, 65),
  'placefolder': rgb(136, 137, 141),
);
$palette: map.set($palette, 'form', $form);

///
/// @colors feedback
///
$feedback: (
  'default': rgb(119, 119, 119),
  'primary': rgb(51, 122, 183),
  'success': rgb(66, 133, 66),
  'info': rgb(60, 127, 145),
  'warning': rgb(240, 173, 78),
  'danger': rgb(217, 83, 79),
);
$palette: map.set($palette, 'feedback', $feedback);


///
/// @colors border
///
$border: (
  'base': rgb(192, 192, 192),
  'focus': rgb(0, 0, 0),
);
$palette: map.set($palette, 'border', $border);


///
/// @colors disabled
///
$disabled: (
  'foreground': hsl(0, 0%, 42%),
  'background': hsl(0, 0%, 94%),
);
$palette: map.set($palette, 'disabled', $disabled);


///
/// @colors loading
///
$loading: (
  'foreground': map.get($neutral, 'x-dark'),
  'background': map.get($neutral, 'base'),
);
$palette: map.set($palette, 'loading', $loading);


///
/// @colors placeholder
///
$placeholder: (
  'base': hsl(0, 0%, 34%),
  'focus': hsl(0, 0%, 56%),
);
$palette: map.set($palette, 'placeholder', $placeholder);


///
/// @colors effects
///
$effects: (
  'backdrop': rgba(0, 0, 0, 0.5),
  'shadow': rgba(0, 0, 0, 0.75),
  'tap-highlight': rgb(255, 94, 153),
  'target-highlight': rgb(255, 255, 102),
);
$palette: map.set($palette, 'effects', $effects);


///
/// @colors selection
///
$selection: (
  'foreground': rgb(255, 255, 255),
  'background': rgb(20, 105, 140),
);
$palette: map.set($palette, 'selection', $selection);


///
/// @colors mark
///
$mark: (
  'foreground': rgb(51, 51, 51),
  'background': rgb(215, 255, 90),
);
$palette: map.set($palette, 'mark', $mark);
