@use 'sass:map';
@use '../abstracts/index' as my;

// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

.theme--dark .page > section {
  &:nth-of-type(even) {
    background-color: my.palette('gray');
  }
}

// Theme

.theme--dark {
  color: my.palette('text', 'light');

  background: my.palette('neutral', 'dark');

  .main-menu {
    @media (max-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
      background: my.palette('menu-dark', 'sub-menu');
    }
  }

  .has-sub-menu {
    color: my.palette('text', 'light');

    @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
      &:hover {
        color: my.palette('menu-dark', 'anchor');
      }
    }
  }

  .sub-menu {
    color: my.palette('menu-dark', 'sub-menu-text');

    @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
      color: my.palette('menu-dark', 'sub-menu');

      background: my.palette('menu-dark', 'sub-menu');
    }

    li > a {
      color: my.palette('menu-dark', 'sub-menu-text');
    }
  }

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
    .sub-menu.active a:hover {
      color: my.palette('menu-dark', 'anchor');

      background-color: my.palette('menu-dark', 'sub-menu-hover');
    }
  }

  .controller-label {
    color: my.palette('text', 'light');

    &::after {
      background-color: my.palette('text', 'light');

      &:hover {
        background-color: my.palette('menu-dark', 'anchor');
      }
    }
  }

  .main-menu a {
    color: my.palette('menu-dark', 'text');

    @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
      &:hover {
        color: my.palette('menu-dark', 'anchor');
      }
    }
  }

  [for='menu-controller'] {
    color: my.palette('menu-dark', 'text');

    &::after {
      color: my.palette('menu-dark', 'text');
    }
  }
}

.theme--dark header {
  background: my.palette('menu-dark');
  border-bottom: 2px solid my.palette('menu-dark', 'border');
}

.theme--dark .footer {
  color: my.palette('menu-dark', 'text');

  background: my.palette('menu-dark');
}
