@use '../abstracts/index' as my;
@use 'abstracts/functions' as f;

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/**
 * A large perceivable region that contains information about the parent document.
 *
 * Examples of information included in this region of the page are copyrights and links to privacy statements.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `contentinfo` role.
 */
[role='contentinfo'] {
}

.footer {
  color: my.palette('menu', 'text');

  background: my.palette('menu');
  border-top: 2px solid my.palette('gray', '10%');
}

.footer__copyright {
  text-align: center;
}

.footer__copyright p {
  margin: 0;

  font-size: f.to-rem(14px);
}
