@use '../abstracts/index' as my;
@use 'abstracts/functions' as f;

/* LISTS
============================================================================ */

/**
 * @see http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/
 */
ul,
ol {
  padding-left: 1em;
  margin: 0;
}

ol {
  counter-reset: li;
}

li ol,
li ul {
}

/* definition
---------------------------------------------------------------------------- */
dl {
  padding: 0;
}

dt,
dd {
  padding: 0;
  margin: 0;
}

dt {
  font-weight: my.font-weight('bold');
}

dd {
  &:last-child {
    margin-bottom: 0;
  }
}

.rich-text ol li,
.rich-text ul li {
  &::marker {
    padding-right: f.to-rem(8px);

    font-size: f.to-rem(18px);
    font-weight: 900;
    color: my.palette('orange');

    background-color: unset;
    border-radius: 50%;
  }
}

.rich-text ol li {
  &::marker {
    font-size: f.to-rem(16px);
  }
}
