/**
 * The main content of a document.
 *
 * This marks the content that is directly related to or expands upon the central topic of the document. The main role is a non-obtrusive alternative for "skip to main content" links, where the navigation option to go to the main content (or other landmarks) is provided by the user agent through a dialog or by assistive technologies.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `main` role.
 *
 * An `article` element can have the `[role='main']`
 */

.page > section {
  &:nth-of-type(even) {
    background-color: palette('gray', '5%');
  }
}


.main-container {
  display: flex;

  flex: 1;
  flex-direction: column;
}

main,
[role='main'] {
  display: flex;

  flex: 1;
}

.internal-page {
  article {
    padding-top: to-rem(32px);
    padding-bottom: to-rem(32px);

    @media screen and (min-width: breakpoint('tablet')) {
      padding-top: to-rem(42px);
      padding-bottom: to-rem(42px);
    }
  }

  & section {
    padding-top: to-rem(32px);
    padding-bottom: to-rem(32px);

    @media screen and (min-width: breakpoint('desktop')) {
      padding-top: to-rem(80px);
      padding-bottom: to-rem(80px);
    }
  }

  &--programs article:nth-of-type(even) {
    background-color: palette('orange', '5%');
  }
}

.container {
  width: 100%;
  max-width: $max-width;

  padding-right: $small-gutter;
  padding-left: $small-gutter;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: breakpoint('phone')) {
    padding-right: $gutter;
    padding-left: $gutter;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    max-width: $max-width--desktop;
  }
}

.container--narrow {
  @media screen and (min-width: breakpoint('laptop')) {
    max-width: $max-width--narrow;
  }
}

.page > section > .container {
  padding-top: to-em(32px);
  padding-bottom: to-em(32px);

  @media screen and (min-width: breakpoint('laptop')) {
    padding-top: to-em(68px);
    padding-bottom: to-em(68px);
  }

  @media screen and (min-width: breakpoint('desktop')) {
    padding-top: to-em(80px);
    padding-bottom: to-em(80px);
  }
}

.info-page > section > .container {
  padding-top: to-em(32px);
  padding-bottom: to-em(32px);
}

.wrap-gap {
  display: grid;

  grid-template-rows: auto;

  width: 100%;

  row-gap: to-rem(32px);
}

footer .container {
  padding: to-rem(16px);
}

