@use 'sass:map';
@use '../abstracts/index' as my;
@use 'abstracts/functions' as f;

/* navigation
---------------------------------------------------------------------------- */
menu,
nav {
}

.main-navigation {
  display: grid;

  grid-template-columns: auto;

  align-items: center;
  justify-content: center;

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
    grid-template-columns: auto auto;

    row-gap: my.$gutter;
    column-gap: my.$gutter;

    justify-content: space-between;
  }

  @media screen and (max-width: #{map.get(my.$breakpoints, 'tablet__portrait') - 0.01}) {
    padding: f.to-rem(12px);
  }
}

menu a,
nav a {
  display: block;

  overflow: hidden;

  &:link {
    text-decoration: none;
  }
}

.main-menu button,
.main-menu label,
.main-menu a,
.main-menu span {
  font-size: f.to-rem(14px);
  font-weight: bold;
  color: my.palette('menu', 'text');

  box-shadow: unset;

  &:hover {
    color: my.palette('menu', 'anchor');
  }

  &:hover,
  &:focus {
    color: my.palette('menu', 'anchor');

    box-shadow: unset;
  }

  &:focus {
    outline: dashed my.palette('menu', 'anchor');
  }
}

.main-menu .sub-menu a {
  color: my.palette('menu', 'sub-menu-text');
}

.current > a {
  pointer-events: none;
}

.main-menu {
  @media screen and (max-width: #{map.get(my.$breakpoints, 'tablet__portrait') - 0.01}) {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;

    display: none;

    grid-auto-rows: max-content;
    grid-auto-flow: row;

    row-gap: f.to-rem(16px);

    align-items: center;

    width: 0;
    padding: f.to-rem(16px) 0;
    margin: 0;
    overflow: hidden;

    white-space: nowrap;

    background: my.palette('menu', 'background');

    transition-duration: 0.5s, 0.7s;
    transition-property: width, padding;
    /* stylelint-disable-next-line */

    .menu-controller:checked + * & {
      z-index: 6000;

      display: grid;

      width: 90vw;
      max-width: #{map.get(my.$toggle-breakpoints, 'toggle-menu')};
      overflow: visible;
      overflow-y: auto;
    }
  }

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
    display: grid;

    grid-template-columns: auto;
    grid-auto-flow: column;

    column-gap: f.to-rem(32px);

    align-items: center;
  }
}

.main-menu > div {
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: auto;
  padding: 0;

  text-align: center;

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
    flex-direction: row;

    width: auto;
    padding-top: f.to-rem(16px);
    padding-bottom: f.to-rem(16px);

    text-align: center;
  }
}

.has-sub-menu {
  position: relative;

  display: flex;

  flex-direction: column;

  padding: 0;

  font-weight: bold;
  line-height: f.to-rem(16px);

  cursor: pointer;

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
    &:hover {
      color: my.palette('menu', 'anchor');

      label > a {
        color: my.palette('menu', 'anchor');

        box-shadow: unset;
      }

      label::after {
        background-color: my.palette('menu', 'anchor');

        transform: rotate(180deg);
      }
    }
  }
}

.sub-menu {
  display: none;

  flex-direction: column;

  row-gap: f.to-rem(12px);

  width: 100%;
  padding: f.to-rem(16px) 0;
  margin-top: f.to-rem(12px);

  color: my.palette('menu', 'sub-menu-text');

  background: my.palette('menu', 'sub-menu');

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
    position: absolute;
    top: f.to-rem(52px);
    right: 0;

    width: auto;
    min-width: 200px;
    padding: f.to-rem(16px);
    margin-top: 0;

    color: my.palette('menu', 'sub-menu');

    background: my.palette('menu', 'sub-menu');
  }

  li > a {
    position: relative;

    display: flex;

    align-items: center;
    justify-content: center;

    padding: f.to-rem(10px) f.to-rem(12px);

    line-height: f.to-rem(16px);
    color: my.palette('menu', 'sub-menu-text');
  }

  @media screen and (max-width: #{map.get(my.$breakpoints, 'tablet__portrait') - 0.01}) {
    .controller:checked ~ * & {
      display: grid;
    }
  }
}

.has-sub-menu:hover .sub-menu {
  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
    display: grid;
  }
}

.sub-menu.active {
  li > a {
    @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
      &:hover {
        color: my.palette('menu', 'anchor');

        background-color: my.palette('menu', 'sub-menu-hover');
      }
    }
  }
}

// Dropdown Menu - Controller

.controller-label {
  position: relative;

  display: grid;

  grid-template-columns: auto 16px;

  column-gap: f.to-rem(8px);

  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;

  cursor: pointer;

  background: unset;
  outline: none;

  &::after {
    display: inline-block;

    width: f.to-rem(16px);
    height: f.to-rem(16px);

    content: '';

    background-color: my.palette('text', 'dark');

    transition-duration: 0.2s;
    transition-property: transform;

    mask-image: url('/uploads/images/arrow-menu.svg');
    mask-position: center;
    mask-size: 16px auto;

    &:hover {
      background-color: my.palette('menu', 'anchor');
    }
  }

  @media screen and (max-width: #{map.get(my.$breakpoints, 'tablet__portrait') - 0.01}) {
    justify-content: space-between;

    .controller:checked ~ * & {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}

.main-menu a {
  position: relative;

  width: 100%;
  overflow: visible;

  font-weight: bold;
  color: my.palette('menu', 'text');

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
    background: transparent;
    border: 0;

    &:hover {
      color: my.palette('menu', 'anchor');
    }
  }
}

[for='menu-controller'] {
  position: absolute;
  top: 14px;
  left: 20px;
  z-index: layer('dropdown');

  display: block;

  font-size: f.to-rem(35px);
  color: my.palette('menu', 'text');

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
    display: none;
  }

  &::after {
    width: 3.1em;
    height: 3.1em;

    font-weight: bold;
    color: my.palette('menu', 'text');

    content: '\20\2261\20';

    opacity: 1;

    transition-duration: 0.5s;
    transition-property: margin-left, opacity;
  }

  &::before {
    top: 52px;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: my.palette('menu', 'shadow');

    /* stylelint-disable-next-line */
    .menu-controller:checked ~ * & {
      position: fixed;

      overflow: hidden;
    }
  }
}

// /* access
// ---------------------------------------------------------------------------- */
// .skip-links {
// }

.skip-links a {
  @include my.visually-hidden--focusable;
}

// /* pagination
// ---------------------------------------------------------------------------- */
.pagination {
}

.pagination__current {
}

.pagination__previous {
}

.pagination__next {
}

// [for='menu-controller'] {
//   position: fixed;
//   top: my.$gutter * 0.25;
//   left: my.$gutter * 0.25;
//   z-index: my.layer('default');

//   background-color: my.palette('white');

//   > svg {
//     display: block;

//     width: my.$gutter * 1.5;
//     height: my.$gutter * 1.5;
//   }

//   [id='menu-controller']:checked ~ &::after {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;

//     content: '';

//     background-color: my.palette('white');
//     opacity: 0.75;
//   }

//   @media screen and (min-width: my.breakpoint('toggle-menu')) {
//     display: none;
//   }
// }
