// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/* Roboto */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url('~fonts/Roboto/Roboto-Regular.ttf') format('ttf');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), url('~fonts/Roboto/Roboto-Italic.ttf') format('ttf');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), url('~fonts/Roboto/Roboto-Bold.ttf') format('ttf');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: local('Roboto BoldItalic'), url('~fonts/Roboto/Roboto-BoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), url('~fonts/Roboto/Roboto-Bold.ttf') format('ttf');
}
