@use 'sass:map';
@use '../abstracts/index' as my;
@use 'abstracts/functions' as f;

.blog-partial {
  a {
    text-decoration: none;

    &:hover {
      color: my.palette('gray');
    }
  }
}

.post {
  display: flex;

  flex-direction: column;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.blog-partial .post__image {
  position: relative;

  display: block;

  width: 100%;
  height: 250px;

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__portrait')}) {
    height: 250px;
  }

  @media screen and (min-width: #{map.get(my.$breakpoints, 'tablet__landscape')}) {
    height: 169px;
  }

  @media screen and (min-width: #{map.get(my.$breakpoints, 'desktop')}) {
    height: 200px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.img-subtitle {
  z-index: 1;

  display: flex;

  justify-content: center;

  width: 80%;
  max-width: f.to-rem(300px);
  padding: f.to-rem(4px);
  margin: auto;
  margin-top: f.to-rem(-16px);
  margin-bottom: f.to-rem(16px);

  text-decoration: none;

  background: my.palette('orange', '60%');
  border-radius: my.$rounded-corner-s;

  .img-subtitle__author {
    @include my.truncate;
  }

  p {
    margin-bottom: 0;

    font-size: f.to-rem(12px);
    line-height: f.to-rem(20px);

    &::after {
      display: inline-block;

      width: f.to-rem(4px);
      height: f.to-rem(4px);
      margin-right: f.to-rem(8px);
      margin-left: f.to-rem(8px);

      vertical-align: middle;

      content: '';

      background: my.palette('text', 'dark');
      border-radius: 50%;
    }

    &:last-of-type::after {
      content: none;
    }

    @media screen and (min-width: breakpoint('tablet__landscape')) {
      font-size: f.to-rem(14px);
      line-height: f.to-rem(22px);
    }
  }
}

.blog-wrap--sidebar {
  @media screen and (min-width: breakpoint('tablet__landscape')) {
    display: grid;

    grid-template-columns: auto f.to-rem(320px);

    column-gap: f.to-rem(32px);
  }
}

.blog-info {
  display: flex;

  flex-wrap: wrap;

  align-items: center;

  p {
    font-size: f.to-rem(13px);
    line-height: f.to-rem(21px);
    color: my.palette('gray', '80%');
  }

  .dot {
    margin: 0 f.to-rem(8px);
  }
}

.dot {
  display: block;

  width: 4px;
  height: 4px;

  background: my.palette('gray', '60%');
  border-radius: 50%;
}

.sidebar {
  display: block;

  width: 100%;
  margin-top: f.to-rem(16px);
}

.sidebar-title {
  margin-bottom: f.to-rem(18px);
}

.sidebar-item {
  position: relative;

  padding: 0 f.to-rem(16px);
  margin-bottom: f.to-rem(38px);

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    width: 3px;
    height: 25px;

    content: '';

    background: my.palette('orange');
  }

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 1px;

    content: '';

    background: my.palette('gray', '30%');
  }
}

.blog-list .post {
  display: grid;

  grid-template-rows: auto;

  row-gap: f.to-rem(24px);

  width: 100%;
  padding-bottom: f.to-rem(48px);

  border-bottom: 2px solid my.palette('gray', '10%');

  @media screen and (min-width: breakpoint('tablet__landscape')) {
    row-gap: f.to-rem(16px);
  }
}

.blog-content {
  display: grid;

  grid-template-rows: auto;

  row-gap: f.to-rem(18px);

  width: 100%;
  max-width: f.to-rem(900px);

  @media screen and (min-width: breakpoint('tablet__landscape')) {
    row-gap: f.to-rem(24px);
  }
}

.post-title {
  display: grid;

  grid-template-rows: auto;

  row-gap: f.to-rem(4px);
}

.post__footer,
.post__header,
.post__body {
  display: grid;

  grid-template-rows: auto;

  row-gap: f.to-rem(16px);

  width: 100%;
}
