.glide {
  position: relative;
}

.glide__arrows {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  z-index: 1;

  width: 100%;
  height: 100%;

  font-size: 20px;

  h3 {
    color: palette('white');
  }


  button {
    top: 110px; 

    min-width: unset;

    padding: 0 16px ;

    background-color: palette('gray');
    color: palette('white');
    border:unset;
  
    &.hover {
      background-color: palette('gray', '110%');
    }
    &::after {
      color: palette('white');
    }

    &.glide__arrow--left {
      position: absolute;
      left: -20px;

    }

    &.glide__arrow--right {
      position: absolute;
      right: -20px;
    }

    &.glide__arrow--left::after {
      content: '<';
    }

    &.glide__arrow--right::after {
      content: '>';
    }
  }
}
