<!DOCTYPE html>
<html lang="{{ with .Site.Language.Params.locale }}{{ . }}{{ else }}{{ .Site.LanguageCode }}{{ end }}"
  class="{{ if .IsHome }}home-page {{ end }}{{ $.Scratch.Get " rootClass" }} {{ .Params.rootClass }} {{ if eq
  (getenv "NODE_ENV" ) "development" }}grid-debug{{ end }} no-js">

{{ partial "head.html" . }}

<body>
  <div class="main-container internal-pages blog__list">

    {{ partial "header.html" . }}

    <main role="main" id="conteudo" class="main">
      <div class="container">
        {{ partial "breadcrumbs.html" . }}
      </div>
      <section class="blog__list">
        <div class="container">
          <h2 class="title">{{ i18n "lastPosts" | title }}</h2>
          <div class="boxes">
            {{ range .Data.Pages.ByDate.Reverse }}

            <div class="box">
              {{ if .Params.video }}
              <div class="embed-container">
                <iframe width="560" height="315" src="{{ .Params.video }}?controls=0?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
              </div>
              {{ else }}
              <a href="/blog/{{ .Params.slug }}">
                <img src="{{ .Params.image }}" alt="{{ .Params.imageAlt }}">
              </a>
              {{ end }}
              <h2>
                {{ if .Params.shortTitle }} {{ .Params.shortTitle }} {{ else }} {{ .Title }} {{ end }}
              </h2>
              {{ .Content }}
            </div>
            {{ end }}
          </div>
        </div>

      </section>


    </main>


    {{ partial "footer.html" . }}
  </div>

</body>

</html>
