{{ define "main" }}
    <div class="container">
      {{ partial "breadcrumbs.html" . }}
    </div>
    <main role="main" id="conteudo" class="internal-page blog-list">
      <div class="container">
        <div class="blog-wrap--sidebar">
          <div class="wrap-gap">

            {{ range (.Paginate ( first 50 .Pages.ByDate.Reverse )).Pages }}
            <article class="post">
              {{ if .Params.video }}
              <div class="embed-container">
                <iframe width="560" height="315" src="{{ .Params.video }}?controls=0?rel=0" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
              {{ else }}
              {{ if .Params.image }}
              <div class="post__image">
                <a href="/blog/{{ .Params.slug }}">
                  <img src="{{ .Params.image }}" alt="{{ .Params.imageAlt }}" />
                </a>
              </div>
              {{ end }}
              {{ end }}

              <div class="post__header">
                <div class="post-title">
                  <a href="/blog/{{ .Params.slug }}" class="text-decor--none">
                    <h2>
                      {{ .Title }}
                    </h2>
                  </a>

                  {{if .Params.subtitle }}
                  <p class="subtitle">
                    {{.Params.subtitle}}
                  </p>
                  {{ end }}
                </div>

                {{ partial "blog/info.html" . }}

              </div>

              <div class="post__body">

                {{ if .Params.summary }}

                <div class="rich-text">
                  {{ .Params.summary }}

                  <button>{{ i18n "readMore" }}</button>

                </div>

                {{ else }}
                <div class="rich-text">
                  {{.Content }}
                </div>
                {{ end }}


              </div>

            </article>

            {{ end }}
          </div>

          {{ partial "sidebar.html" . }}

        </div>
      </div>
    </main>
{{ end }}
