// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/**
 * A large perceivable region that contains information about the parent document.
 *
 * Examples of information included in this region of the page are copyrights and links to privacy statements.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `contentinfo` role.
 */
// [role='contentinfo'] {
// }

.footer {
  color: palette('menu-light', 'text');
  background: palette('menu-light');


}

.theme--dark .footer {
  color: palette('menu-dark', 'text');
  background: palette('menu-dark');
}

.footer__copyright {
  text-align: center;
}

.footer__copyright p {
  margin: 0;
  font-size: to-rem(14px);
}
