{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

{{partial "page-title.html" .}}

<div class="container">
  {{ partial "breadcrumbs.html" . }}
</div>

<main role="main" id="conteudo" class="internal-page programs">
  <article>
    <div class="container">
      {{ if .Params.mainImage }}

      <picture>
        <source media="(min-width: 1000px)" srcset="/uploads/images/{{.Params.mainImage}}--1131X0.webp">
        <source media="(min-width: 800px)" srcset="/uploads/images/{{.Params.mainImage}}--900X0.webp">
        <source media="(min-width: 500px)" srcset="/uploads/images/{{.Params.mainImage}}--800X0.webp">
        <source media="(min-width: 300px)" srcset="/uploads/images/{{.Params.mainImage}}--500X0.webp">
        <img src="/uploads/images/{{.Params.mainImage}}.jpeg" class="img-fluid main-img" width="1131" height="518"
          alt="{{.Params.mainImageAlt}}">
      </picture>

      {{ end }}

      <div class="two-columns two-columns--sidebar">
        <div class="rich-text">

          {{ .Content }}

          <a href="#contato" class="button-secondary button-secondary--solid">{{ i18n "getAQuote" }}</a>


        </div>

        <div class="rich-text">
          <table class="table--details table--wide">
            <thead>
              <tr>
                <th colspan="2">{{ i18n "details" | title }}</th>
              </tr>
            </thead>
            <tbody>
              {{if .Params.accommodations}}
              <tr>
                <th>
                  {{ i18n "accommodations" }}
                </th>
                <td>
                  {{.Params.accommodations}}
                </td>
              </tr>

              {{end }}
              {{if .Params.feeding}}
              <tr>
                <th>
                  {{ i18n "feeding" }}
                </th>
                <td>
                  {{.Params.feeding}}
                </td>
              </tr>
              {{end }}

              {{if .Params.term}}
              <tr>
                <th>
                  {{ i18n "term" }}
                </th>
                <td>
                  {{.Params.term}}
                </td>
              </tr>
              {{ end }}
              {{if .Params.age}}
              <tr>
                <th>
                  {{ i18n "age" }}
                </th>
                <td>
                  {{.Params.age}}
                </td>
              </tr>
              {{end }}

              {{if .Params.languageLevel}}
              <tr>
                <th>
                  {{ i18n "languageLevel" }}
                </th>
                <td>
                  {{.Params.languageLevel}}
                </td>
              </tr>
              {{end }}
              {{if .Params.scholarship}}
              <tr>
                <th>
                  {{ i18n "scholarship" }}
                </th>
                <td>
                  {{.Params.scholarship}}
                </td>
              </tr>
              {{end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </article>

  {{ if .Params.included }}

  <article>
    <div class="container">
      <div class="two-columns align-items--center">
        <div class="rich-text">

          {{ if .Params.mainImage }}
          <img src="/uploads/images/{{.Params.whatIsIncludedImage}}.png" class="img-fluid"
            alt="{{.Params.whatIsIncludedImageAlt}}">
          {{ end }}

        </div>


        <div class="rich-text">
          <h2>{{ i18n "whatIsIncluded" | title }}</h2>
          {{ range ( .Params.included ) }}
          <ul>
            <li>
              {{ . }}
            </li>
          </ul>
          {{ end }}
        </div>

      </div>
    </div>
  </article>
  {{ end }}



  {{ partial "partners.html" . }}

  {{ partial "faq.html" . }}

  {{ partial "contact-form.html" . }}

</main>

{{ end }}
