{{ define "main" }}

 {{partial "page-title.html" .}}


  <div class="container">
    {{ partial "breadcrumbs.html" . }}
  </div>
      <main role="main" id="conteudo" class="internal-page image-list">
        <article>
            <div class="container">
              <div class="three-columns three-columns--list">
                {{ range .Data.Pages.ByWeight }}
                      <div>
                          <a href="{{ .Params.url }}" class="box-link">
                            <img src="{{.Params.thumbnail}}" class="img-fluid" alt="{{.Params.thumbnailAlt}}">
                          </a>
                          <a href="{{ .Params.url }}">
                            <h2 class="heading-3">
                              {{ .Title }}
                            </h2>
                          </a>
                          {{ .Params.Summary }}
                      </div>
                {{ end }}
              </div>
          </div>
        </article>

      </main>
{{ end }}
