{{ define "main" }}

 {{partial "page-title.html" .}}


  <div class="container">
    {{ partial "breadcrumbs.html" . }}
  </div>
      <main role="main" id="conteudo" class="internal-page">
        <article>
            <div class="container">
              <div class="three-columns three-columns--list">
                {{ range .Data.Pages.ByWeight }}

                {{ partial "img-description.html" . }}

                {{ end }}
              </div>
          </div>
        </article>

      </main>
{{ end }}
