{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.benefits }}

  <section class="benefits">
    <div class="container">
      {{ if .title }}
        <h2 class="title-section">{{ .title }}</h2>
      {{ end }}
      <div class="three-columns">
        {{ range .list }}
          <div class="rich-text">
            {{ if .image }}
              <img src="{{ .image }}" alt="{{ .alt }}" class="image-topics">
            {{ end }}
            {{ if .title }}
              <h2 class="heading-4">{{ .title }}</h2>
            {{ end }}

            {{ if .text }}
              <p>{{ .text }}</p>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
