<section class="blog">
  <div class="container">
    <h2 class="title">
      {{ i18n "blog" }}
    </h2>

    <div class="glide">

      <div class="glide__arrows" data-glide-el="controls">
        <div class="glide__arrows--actions">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
          </button>
        </div>
      </div>

      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {{ range ( where .Site.RegularPages "Type" "post").ByDate.Reverse | first 4 }}
          <li class="glide__slide">
            <div class="post">
              <div class="post__image">
                <a href="{{ .Permalink }}">
                  <img class="" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
                  <div class="img-subtitle">
                    <p class="author">{{.Params.Author}}</p>
                    <p class="date"> {{ .Params.Date.Format "01/02/2006" }}</p>
                  </div>
                </a>
              </div>

              <div class="post__title">
                <a href="{{ .Permalink }}">
                  <h2 class="heading-4"> {{ .Title }} </h2>
                </a>
              </div>

            </div>

          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </div>

</section>
