
<section>
  <div class="container">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">teste</div>
      <div class="glide__track" data-glide-el="track">teste1</div>
      <div class="glide__track" data-glide-el="track">teste3</div>

      <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0"></button>
        <button class="glide__bullet" data-glide-dir="=1"></button>
        <button class="glide__bullet" data-glide-dir="=2"></button>
      </div>
    </div>
  </div>

</section>
