{{ if .Params.form }}
<article class="contact-form">
  <div class="container container--narrow ">
    <h2 class="title-section">{{ i18n "getAQuote" }}</h2>
    <form id="contato" name="Contact" action="/contato/sucesso/" method="POST" data-netlify="true">
      <div class="form-wrap">
        <div class="two-columns">
          <div class="form-group ">
            <label for="firstName">
              {{ i18n "firstName" | title }} <span class="required">*</span>
            </label>
            <input type="text" id="firstName" name="firstName" required />
          </div>
          <div class="form-group ">
            <label for="lastName">
              {{ i18n "lastName" | title }} <span class="required">*</span>
            </label>
            <input type="text" id="lastName" name="lastName" required />
          </div>
        </div>
        <div class="two-columns">
          <div class="form-group">
            <label for="phone">
              {{ i18n "phone" | title }}
            </label>
            <input type="text" id="phone" name="phone" />
          </div>
          <div class="form-group">
            <label for="whatsapp">
              {{ i18n "whatsApp" | title }}
            </label>
            <input type="text" id="whatsapp" name="whatsapp" />
          </div>
        </div>
        <div class="form-group">
          <label for="email">
            {{ i18n "email" | title }} <span class="required">*</span>
          </label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="subject">
            {{ i18n "subject" | title }} <span class="required">*</span>
          </label>
          <input type="text" value="{{.Params.form}}" id="subject" name="subject" required />
        </div>
        <div class="form-group" hidden>
          <label for="page">
            {{ i18n "page" | title }} <span class="required">*</span>
          </label>
          <input type="hidden" value="{{.Params.form}}" name="page" value="{{.Params.form}}">
        </div>
        <div class="form-group">
          <label for="message">
            {{ i18n "message" | title }} <span class="required">*</span>
          </label>
          <textarea id="message" name="message" required></textarea>
        </div>
        <div class="button-wrap button-wrap--center">
          <button type="submit" class="button-secondary button-secondary--solid">{{ i18n "send" }}</button>
        </div>
      </div>

    </form>
  </div>
</article>
{{end}}
