{{ if .Params.faqId }}
{{ $faqData := index .Site.Data .Site.Language.Lang "faq" .Params.faqId }}
{{ if not $faqData }}
  {{ $faqData = index .Site.Data "pt" "faq" .Params.faqId }}
{{ end }}
{{ if $faqData }}
<section class="faq-partial">
  <div class="container container--narrow">
    <h2 class="title-section">{{ i18n "faq" | title }}</h2>
    <div class="faq">
      {{ range $faqData }}
        <details>
          {{ if .question }}
          <summary>
            {{ .question }}
          </summary>
          {{ end }}
          {{ if .answer }}
          {{ .answer | markdownify }}
          {{ end }}
        </details>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
