<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-mobile--4 col-tablet--12 col-desktop--2">
        <div class="logo logo-{{ .Site.LanguageCode  | lower }}">
          <a href="/{{ .Site.LanguagePrefix }}"> {{ .Site.Title }} </a>
        </div>
      </div>

      {{ if $.Site.Data.address }} {{ with $.Site.Data.address }}
      <div class="col col-mobile--4 col-tablet--12 col-desktop--4">
        {{ range .list }}
        <div class="row">
          <div class="col">
            <ul>
              <li class="footer__title">{{ .name }}</li>
              <li>{{ .street }}, {{ .number }} - {{ .neighborhood }}</li>
              <li>{{ .city }}, {{ .state }} - {{ .cep }}</li>
            </ul>
          </div>
        </div>

        {{ end }}
      </div>
      {{ end }} {{ end }} {{ if $.Site.Data.contact }} {{ with
      $.Site.Data.contact }}
      <div class="col col-mobile--4 col-tablet--12 col-desktop--4">
        <div class="address-icon">
          <a
            href="/uploads/cartaodigital.pdf"
            target="_blank"
            class="link"
            rel="noopener"
            download
          >
            Cartão Digital
          </a>
        </div>

        {{ range .list }}
        <div class="row">
          <div class="col">
            <ul>
              <li class="footer__title">{{ .name }}</li>
              <li>{{ .position }}</li>
              <li class="footer__contact">
                {{ .phone }}
                <div class="whatspp-icon">
                  <a
                    href="{{.whatsapp}}"
                    target="_blank"
                    class="link"
                    rel="noopener"
                  >
                    {{ .phone }}
                  </a>
                </div>
              </li>
              <li>{{ .email }}</li>
            </ul>
          </div>
        </div>

        {{ end }}
      </div>
      {{ end }} {{ end }}
    </div>
  </div>
</footer>
