<a class="whatsapp"
  href="https://api.whatsapp.com/send?phone=5511987366608&text=Ol%C3%A1%2C%20tudo%20bem%3F%20Gostaria%20de%20tirar%20uma%20d%C3%BAvida"
  target="_blank" rel="noopener">
  <img src="/uploads/images/logo-whatsapp.svg" alt="Entre em contato através do Whatsapp" />
</a>
<footer class="footer">
  <div class="container">

    <div class="footer__copyright">
      <p>YouBet! School - Todos os direitos reservados - 2021</p>
      <p class="footer__legal">
        {{ if eq .Language.Lang "pt" }}
          <a href="/politica-de-privacidade/">Política de Privacidade</a>
        {{ else if eq .Language.Lang "en" }}
          <a href="/en/privacy-policy/">Privacy Policy</a>
        {{ else if eq .Language.Lang "es" }}
          <a href="/es/politica-de-privacidad/">Política de Privacidad</a>
        {{ end }}
      </p>
    </div>

    {{/*  <div>

      <a href="#p1"><strong>{{ .Language.LanguageName }}</strong></a>

      <nav class="languages-nav">
        <p><strong>{{ i18n "languages"}}</strong></p>
        {{ range $.Site.Home.AllTranslations }}
          <option><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></option>
        {{ end}}
      </nav>
    </div>
  */}}




    {{/*
    {{ if .Site.Menus.footer }}
    <nav class="footer-menu" id="menu">

      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="{{ if $currentPage.HasMenuCurrent " main" . }}active{{ end }}">
          <a href="#">
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>
        <ul class="sub-menu">
          {{ range .Children }}
          <li class="{{ if $currentPage.IsMenuCurrent " main" . }}active{{ end }}">
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
        {{ else }}
        <li>
          <a href="{{ .URL }}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </nav>
    {{ end }} */}}
  </div>



</footer>
