<head>
  <link rel="icon" href="/favicon/favicon.png" type="image/x-icon" />

  <meta name="robots" content="index,follow" />
  <meta name="googlebot" content="index,follow" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  />

  <meta content="width=device-width,initial-scale=1.0" name="viewport" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta charset="utf-8" />

  <link rel="dns-prefetch" href="https://fonts.googleapis.com/" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:300,300i,400,400i,700,700i,900,900i&Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet"
  />

  {{ $style := resources.Get "/styles/index.css" | resources.Minify | resources.Fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />

  <!-- Title Tags -->
  <title itemprop="name">
    {{ if not .IsHome }}{{ .Title }} &middot;{{ end }} {{ .Title }} |
    {{ .Site.Title }}
  </title>
  <meta itemprop="name" content="{{ .Site.Title }}" />
  <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta property="og:site_name" content="{{ .Site.Params.sitename }}" />

  <!-- Description tags -->
  {{ with $.Site.Params.siteDescription }}
    <meta name="description" content="{{ . }}" />
    <meta itemprop="description" content="{{ . }}" />
    <meta property="og:description" content="{{ . }}" />
    <meta name="twitter:description" content="{{ . | slicestr 0 200 }}" />
    <!-- max of 200 characters for Twitter & Facebook -->
  {{ end }}


  <!-- Link tags -->
  <base href="{{ .Permalink }}" />
  <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
  <meta name="url" content="{{ .Permalink }}" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  <meta property="og:url" content="{{ .Permalink }}" />

  <!-- Languages tags -->

  <meta property="og:locale" content="{{ .Language.Lang }}" />
  <meta name="language" content="{{ .Language.LanguageName }}" />
  {{ range .AllTranslations }}
    <link
      rel="alternate"
      hreflang="{{ .Language.Lang }}"
      href="{{ .Permalink }}"
      title="{{ .Language.LanguageName }}"
    />
  {{ end }}


  <!-- Data tags -->

  <meta property="og:updated_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }}" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" />

  {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
  {{ end }}


  <!-- Image tags -->
  {{ with $.Site.Params.shareImages.default }}
    <meta itemprop="image" content="{{ . | absURL }}" />
  {{ end }}

  {{ with .Params.image }}
    <meta itemprop="image" content="{{ . | absURL }}" />
    <meta property="og:image" content="{{ . | absURL }}" />
    <meta name="twitter:image" content="{{ . | absURL }}" />
    <meta name="twitter:image:src" content="{{ . | absURL }}" />
  {{ else }}
    <meta itemprop="image" content="{{ .Site.Params.shareImages.default | absURL }}" />
    <meta property="og:image" content="{{ .Site.Params.shareImages.default | absURL }}" />
    <meta name="twitter:image" content="{{ .Site.Params.shareImages.twitter | absURL }}" />
    <meta name="twitter:image:src" content="{{ .Site.Params.shareImages.twitter | absURL }}" />
  {{ end }}


  <meta name="twitter:url" property="og:url" content="{{ .Permalink }}" />

  <!-- Twitter -->
  {{ with $.Site.Params.twitterUsername }}

    <meta name="twitter:site" content="@{{ . }}" />
    <meta name="twitter:creator" content="@{{ . }}" />
  {{ end }}
  {{ with $.Site.Params.shareImages.twitter }}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:src" content="{{ . | absURL }}" />
  {{ end }}


  <!-- Maximum dimension: 1024px x 512px; minimum dimension: 440px x 220px -->

  <!-- Open Graph general (Facebook, Pinterest & Google+) -->

  {{ with $.Site.Params.shareImages.facebook }}
    <meta property="og:image" content="{{ . | absURL }}" />
    <!-- Recommended dimension: 1200px x 630px; minimum dimension: 600px x 315px -->
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
  {{ end }}

  {{ with $.Site.Params.siteDescription }}
    <meta name="description" content="{{ . }}" />
  {{ end }}


</head>
