{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.highSchool }}

  <section class="image-with-text">
    <div class="container">
      <div class="two-columns align-items--center">
        {{ if .image }}

          <div class="section-image">
            <img src="{{ .image }}" alt="{{ .alt }}" />
          </div>
        {{ end }}
        <div class="rich-text">
          {{ if .title }}
            <h2>{{ .title }}</h2>
          {{ end }}
          <p>{{ .content }}</p>
          {{ if .buttonUrl }}
            <a href="{{ .buttonUrl }}" class="button-secondary button-secondary--solid">{{ .buttonText }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
