<div class="narrow-container">
  {{ if ne .Kind "404" }}
  <nav class="skip-links">
    <div>
      <div class="to-menu"><a href="#menu">menu</a></div>
      <div class="to-content"><a href="#conteudo">conteúdo</a></div>
    </div>
  </nav>
  {{ end }}


  <div class="main-navigation">
    <label for="menu-controller" onclick></label>

    <div class="logo logo-{{ .Site.LanguageCode  | lower }}">
      <a href="/{{ .Site.LanguagePrefix }}"><img src="/uploads/images/youbet.svg" alt="YouBet!" /></a>
    </div>

    {{ if .Site.Menus.main }}
    <nav class="main-menu" id="menu">

      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <input type="checkbox" id="{{ .Identifier }}-controler" class="controller" hidden />

      <div class="has-sub-menu {{ if $currentPage.HasMenuCurrent " main" . }}is-active{{ end }}">

        <label for="{{ .Identifier }}-controler" class="controller-label">
          <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent " main" . }}active{{ end }}">
            {{ .Pre }}
            {{ .Name }}
          </a>
        </label>

        <div class="sub-menu">
          {{ range .Children }}
          <a href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        </div>
      </div>
      {{ else }}
      <div>
        <a href="{{ .URL }}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      </div>
      {{ end }}
      {{ end }}

    </nav>
    {{ end }}
  </div>

  <!-- {{ if .IsTranslated }}
    <nav class="languages-nav">
      <div class="languages-navlinks">
        {{ range .Translations }}
          <li>
            <a href="{{ .RelPermalink }}"
              >{{ .Language.LanguageName }} {{ if .IsPage }}({{ i18n "wordCount" . }}){{ end }}</a
            >
          </li>
        {{ end }}
      </div>
    </nav>
  {{ end }}
   -->
</div>
