<div class="narrow-container">
  {{ if ne .Kind "404" }}
  <nav class="skip-links">
    <ul>
      <li class="to-content"><a href="#conteudo">conteúdo</a></li>
      <li class="to-menu"><a href="#menu">menu</a></li>
    </ul>
  </nav>
  {{ end }}

  <div class="main-navigation">
    <label for="menu-controller" onclick></label>

    <div class="logo logo-{{ .Site.LanguageCode  | lower }}">
      <a href="/{{ .Site.LanguagePrefix }}"><img src="/assets/images/youbet.svg" alt="YouBet!"></a>
    </div>

    {{ if .Site.Menus.main }}
    <nav class="main-menu" id="menu">

      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <input type="checkbox" id="{{.Identifier}}-controler" class="controller" hidden>

        <li class="has-sub-menu {{ if $currentPage.HasMenuCurrent "main" . }}is-active{{ end }}">
          <label for="{{.Identifier}}-controler" onclick class="controller-label">

            <a href="#">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
        </label>

          <ul class="sub-menu">
            {{ range .Children }}
            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
              <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </li>

        {{ else }}
        <li>
          <a href="{{ .URL }}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </nav>
    {{ end }}
  </div>

  <!--
    {{ if .IsTranslated }}
    <nav class="languages-nav">
      <ul class="languages-navlinks">
        {{ range .Translations }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }} {{ if .IsPage }} ({{ i18n "wordCount" . }}){{ end }}</a>
        </li>
        {{ end}}
      </ul>
    </nav>
    {{ end }}
  -->
</div>
