<style>
  .page-title {
    {{ if .Params.backgroundColor }} background-color:  {{ .Params.backgroundColor }}; {{ end }}
  }

  .page-title::before {
    {{ if .Params.backgroundRepeat }} background-repeat:  {{ .Params.backgroundRepeat }}; {{ end }}
    {{ if .Params.backgroundImage}} background-image: url('{{.Params.backgroundImage}}'); {{ end }}
    {{ if not .Params.backgroundMaxWidth }} max-width: unset; {{ end }}
    {{ if .Params.backgroundSize }} background-size: {{ .Params.backgroundSize }}; {{ end }}
    {{ if .Params.backgroundPosition}} background-position: {{ .Params.backgroundPosition}}; {{ end }}
  }

  {{ if .Params.backgroundImageDesktop}}
    @media (min-width: 1024px) {
      .page-title::before {
        background-image: url('{{.Params.backgroundImageDesktop}}');
      }
    }
  {{ end }}
  {{ if .Params.titleColor}}
      .page-title h1  {
        color: {{.Params.titleColor}};
      }
  {{ end }}
</style>

<div class='page-title'>
<div class="container">
  <h1>{{ .Title }}</h1>
</div>
</div>
