<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', '{{ . }}');

</script>

<script type="text/javascript">
  document.documentElement.className = document.documentElement.className.replace(
    /\bno-js\b/,
    ''
  );
</script>


{{ $js := resources.Get "scripts/index.js" }}
{{ $secureJS := $js | js.Build | resources.Minify | resources.Fingerprint "sha512" }}

<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
