<div class="sidebar">

  <div class="sidebar-item">
    <h2 class="sidebar-title">{{ i18n "authors" }}</h2>



    <div class="author-list">

      {{ range (where .Site.Pages "Type" "authors") }}
      {{- if .Params.slug }}
        <a  href="{{ `autores/` | relLangURL }}{{ .Params.slug  | urlize }}">
          {{ .Params.name | title }}
        </a>
      {{ end }}
      {{ end }}
    </div>

  </div>

  <div class="sidebar-item">
    <h2 class="sidebar-title">{{ i18n "categories" }}</h2>

      {{- if isset .Site.Taxonomies "categories" }}
      {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
        {{partial "categories" . }}
        {{- end }}
      {{- end }}
  </div>

  <div class="sidebar-item">
    <h2 class="sidebar-title">{{ i18n "tags" }}</h2>

      {{- if isset .Site.Taxonomies "tags" }}
      {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
        {{partial "tags" . }}
        {{- end }}
      {{- end }}
  </div>
</div>
