<section class="style">
  <div class="container">
    <div class="rich-text">
      <a href="{{ .buttonUrl }}" class="button">{{ .buttonText }}</a>
      <a href="{{ .buttonUrl }}" class="button-secondary">{{ .buttonText }}</a>
      <a href="{{ .buttonUrl }}" class="button-neutral">{{ .buttonText }}</a>

      <a href="{{ .buttonUrl }}" class="button button--solid">{{ .buttonText }}</a>
      <a href="{{ .buttonUrl }}" class="button-secondary button-secondary--solid">{{ .buttonText }}</a>
      <a href="{{ .buttonUrl }}" class="button-neutral button-neutral--solid">{{ .buttonText }}</a>

      <a href="{{ .buttonUrl }}" class="button button--ghost">{{ .buttonText }}</a>
      <a href="{{ .buttonUrl }}" class="button-secondary button-secondary--ghost">{{ .buttonText }}</a>
      <a href="{{ .buttonUrl }}" class="button-neutral button-neutral--ghost">{{ .buttonText }}</a>

      <a href="{{ .buttonUrl }}" class="button button--bordeless">{{ .buttonText }}</a>
      <a href="{{ .buttonUrl }}" class="button-secondary button-secondary--bordeless">{{ .buttonText }}</a>
      <a href="{{ .buttonUrl }}" class="button-neutral button-neutral--bordeless">{{ .buttonText }}</a>

    </div>
    <div class="dark">
      <div class="rich-text dark">
        <button class="button">{{ .buttonText }}</button>
        <button class="button-secondary">{{ .buttonText }}</button>
        <button class="button-neutral">{{ .buttonText }}</button>

        <button class="button button--solid-inverted">{{ .buttonText }}</button>
        <button class="button-secondary button-secondary--solid-inverted">{{ .buttonText }}</button>
        <button class="button-neutral button-neutral--solid-inverted">{{ .buttonText }}</button>

        <button class="button button--ghost-inverted">{{ .buttonText }}</button>
        <button class="button-secondary button-secondary--ghost-inverted">{{ .buttonText }}</button>
        <button class="button-neutral button-neutral--ghost-inverted">{{ .buttonText }}</button>

        <button class="button button--bordeless-inverted">{{ .buttonText }}</button>
        <button class="button-secondary button-secondary--bordeless-inverted">{{ .buttonText }}</button>
        <button class="button-neutral button-neutral--bordeless-inverted">{{ .buttonText }}</button>
      </div>
    </div>


  </div>
</section>
