<!DOCTYPE html>
<html lang=" {{ with .Site.Language.Params.locale }}{{ . }}{{ else }}{{ .Site.LanguageCode }}{{ end }}" class="{{ if .IsHome }}home-page {{ end }}{{ $.Scratch.Get "rootClass" }} {{ .Params.rootClass }} {{ if eq (getenv "NODE_ENV") "development" }}grid-debug{{ end }} no-js">

  {{ partial "head/head.html" . }}


  <body>
    <div class="main-container">
      {{ partial "header.html" . }}


      <main role="main" id="conteudo" class="internal-page">
        <section class="internal-pages">
          <div class=" rich-text">
            <h2>{{ .Title }}</h2>

            {{ if .Params.image }}

              <img src="{{ .Params.image }}" alt="{{ .Title }}" />
            {{ end }}

            {{ .Content }}

          </div>
        </section>
      </main>
      {{ partial "footer.html" . }}

    </div>
  </body>
</html>
