{{ if .Params.video }}
    <div class="embed-container">
      <iframe width="560" height="315" src="{{ .Params.video }}" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  {{ else }}
  {{ if .Params.image }}
    <div class="post__image">
      <a href="/blog/{{ .Params.slug }}">
        <img src="{{ .Params.image }}" alt="{{ .Params.imageAlt }}" />
      </a>
    </div>
  {{ end }}
{{ end }}
