<div class="blog-info">
  {{ range .Params.authors }}
    {{ range where $.Site.Pages "Params.slug" .author }}
    <div class="author author--small">
      <a href="/autor/{{ .Params.slug}}"><img src="{{ .Params.avatar }}" alt="{{ .Params.alt }}" /></a>
      <div class="author__info">
        {{if .Title}}
        <p><a href="/autor/{{ .Params.slug}}">{{ .Title }}</a></p>
        {{ end }}
      </div>
    </div>

    {{ end }}
  {{ end }}

  {{if .Date }}
  <div>
    <i class="dot"></i>
  </div>
  <div class="post-data">
    <p>
      {{.Date.Day}} de {{i18n .Date.Month}} de {{.Date.Year}}
    </p>
  </div>
  {{ end }}

  {{if .Params.readingTime }}
  <div>
    <i class="dot"></i>
  </div>
  <div class="reading-time">
    <p>{{ .Params.readingTime }}</p>
  </div>
  {{ end }}
</div>
