{{ $videoURL := .Params.video | default .Params.youtube }}
{{ if $videoURL }}
  {{ $id := "" }}
  {{ $subs := findRESubmatch "(?:youtube\\.com/(?:embed/|watch\\?v=)|youtu\\.be/)([a-zA-Z0-9_-]{10,12})" $videoURL }}
  {{ if and $subs (index $subs 0) (index (index $subs 0) 1) }}
    {{ $id = index (index $subs 0) 1 }}
  {{ else }}
    {{ $u := $videoURL }}
    {{ if in $u "youtube.com/embed/" }}
      {{ $id = replaceRE ".*youtube\\.com/embed/([a-zA-Z0-9_-]+).*" "$1" $u }}
    {{ else if in $u "youtube.com/watch" }}
      {{ $id = replaceRE ".*[?&]v=([a-zA-Z0-9_-]{10,12}).*" "$1" $u }}
    {{ else if in $u "youtu.be/" }}
      {{ $id = replaceRE ".*youtu\\.be/([a-zA-Z0-9_-]+).*" "$1" $u }}
    {{ end }}
  {{ end }}
  {{ $embedURL := "" }}
  {{ if $id }}
    {{ $embedURL = printf "https://www.youtube.com/embed/%s" (strings.TrimSpace $id) }}
  {{ else }}
    {{ $embedURL = replace $videoURL "http://" "https://" }}
    {{ $embedURL = replace $embedURL "youtube.com/embed" "www.youtube.com/embed" }}
    {{ $embedURL = replace $embedURL "youtu.be/" "www.youtube.com/embed/" }}
  {{ end }}
  <div class="embed-container">
    <iframe
      width="560"
      height="315"
      src="{{ $embedURL }}"
      title="{{ .Title }} - YouTube"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      loading="lazy">
    </iframe>
  </div>
{{ else if .Params.image }}
  <div class="post__image">
    <img src="{{ .Params.image }}" alt="{{ .Params.imageAlt | default .Title }}" />
  </div>
{{ end }}
