// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

body.theme--dark {
  color: palette('text', 'light');
  background: palette('background', 'dark');
}


.theme--dark .page > section {
  &:nth-of-type(even) {
    background-color: palette('gray');
  }
}


// Theme

.theme--dark {
  .main-menu {
    @media (max-width: breakpoint('max-desktop')) {
      background: palette('menu-dark', 'sub-menu');
    }
  }

  .has-sub-menu {
    color: palette('text', 'light');

    @media screen and (min-width: breakpoint('desktop')) {
      &:hover {
        color: palette('menu-dark', 'anchor');
      }
    }
  }

  .sub-menu {
    color: palette('menu-dark', 'sub-menu-text');

    @media screen and (min-width: breakpoint('desktop')) {
      color: palette('menu-dark', 'sub-menu');

      background: palette('menu-dark', 'sub-menu');
    }

    li > a {
      color: palette('menu-dark', 'sub-menu-text');
    }
  }

  .sub-menu.active {
    li > a {
      @media screen and (min-width: breakpoint('desktop')) {
        &:hover {
          color: palette('menu-dark', 'anchor');

          background-color: palette('menu-dark', 'sub-menu-hover');
        }
      }
    }
  }

  .controller-label {
    color: palette('text', 'light');

    &::after {
      background-color: palette('text', 'light');

      &:hover {
        background-color: palette('menu-dark', 'anchor');
      }
    }
  }

  .main-menu a {
    color: palette('menu-dark', 'text');

    @media screen and (min-width: breakpoint('desktop')) {
      &:hover {
        color: palette('menu-dark', 'anchor');
      }
    }
  }

  [for='menu-controller'] {
    color: palette('menu-dark', 'text');

    &::after {
      color: palette('menu-dark', 'text');
    }
  }
}


.theme--dark header {
  background: palette('menu-dark');
  border-bottom: 2px solid  palette('menu-dark', 'border');
}

.theme--dark .footer {
  color: palette('menu-dark', 'text');
  background: palette('menu-dark');
}
