{{ define "main" }}
  <div class="main-container">
    {{ partial "header.html" . }}


    <main role="main" id="conteudo" class="internal-page blog-list">
      <div class="container">
        <div class="rich-text">
          <div class="three-columns">

            {{ range .Data.Pages.ByDate.Reverse }}

            <div class="card">
              <div class="card__image">
                {{ if .Params.thumbnail }}
                <a href="/blog/{{ .Params.slug }}">
                  <img src="{{ .Params.thumbnail }}" alt="{{ .Params.thumbnailAlt }}" />
                </a>
                {{ end }}
              </div>

              <div class="card__body {{if .Params.authors }} card__body--fixed {{ end }}">
                <a href="{{if .Params.slug}} /blog/{{.Params.slug}} {{else}} {{.Title | urlize }} {{ end }}"
                  class="text-decor--none text-align--center">
                  <h2 class="heading-4">
                    {{ .Title }}
                  </h2>
                </a>

                {{ partial "author-miniature.html" . }}

              </div>

            </div>
            {{ end }}
          </div>
        </div>

      </div>
    </main>

{{ end }}
